body {
  background-image: url("background.jpg");
  background-size: cover;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#head {
  background-color: rgb(50,50,50);
  background-color: rgba(0,0,0,0.5);
  border: white;
  margin: 0;
  height: 60px;
  font-size: 20px;
}

#rooms > div {
  margin: 20px;
  width: 300px;
  padding: 0 30px;
  background-color: rgb(50,50,50);
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  height: 400px;
  border-radius: 25px;
}

#textBox {
  float: left;
  width: 150px;
}
#buttons {
  float: right;
}