body {
  background-image: url("background.jpg");
  background-size: cover;
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#head {
  background-color: rgb(50,50,50);
  background-color: rgba(0,0,0,0.5);
  border: white;
  margin: 0;
  height: 60px;
  font-size: 20px;
}

#rooms {
  margin: 0 auto;
  height: auto;
  width: auto;
}
/* can't center ^ */

#rooms > div {
  margin: 20px;
  width: 300px;
  padding: 0 30px;
  background-color: rgb(50,50,50);
  background-color: rgba(0,0,0,0.5);
  display: inline-block;
  /*height: 450px;*/
  border-radius: 25px;
  padding-bottom: 25px;
}

#textBox {
  float: left;
  width: 150px;
}
#buttons {
  float: right;
}
 
#cleaning1 {
  visibility: hidden;
}
#full1 {
  visibility: hidden;
}

#list{
  margin: 20px;
  width: 300px;
  height: 100vh;
  margin: 0;
  background-color: rgb(50,50,50);
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 25px;
  padding-bottom: 25px;
}